<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CompCode</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-custom">
    <a class="navbar-brand mx-auto" href="#">CompCode</a>
    <button class="team-btn btn-lg" type="button" name="button">Team</button>
  </nav>

  <!-- Title screen -->
  <section id="title">
    <div class="row">
      <div class="col">
        <h1 class="title-text">For all the contest timings, we got you covered.</h1>
      </div>
      <div class="col">
        <img class="title-image" src="images/female-developer.png" alt="title-image">
        <!-- Ye line ko kahi pe set krna pdega ... liscenced image hai
        <a href="https://www.vecteezy.com/free-vector/female">Female Vectors by Vecteezy</a> -->
      </div>
    </div>
  </section>

  <!-- Carousel section -->

  <section id="carousel">
    <div>

    </div>
  </section>

  <!-- Cards section -->
  <section id="cards-section">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="images/codeforces_logo.png" class="card-img-top images" alt="codeforces-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Codeforces here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/codechef_logo.svg.png" class="card-img-top images" alt="codechef-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Codechef here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/he_logo.png" class="card-img-top images" alt="hackerearth-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Hackerearth here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/hr_logo.png" class="card-img-top images" alt="hackerrank-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Hackerrank here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/leetcode_logo.png" class="card-img-top images" alt="leetcode-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Leetcode here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/atcoder_logo.png" class="card-img-top images" alt="atcoder-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Atcoder here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/spoj_logo.png" class="card-img-top images" alt="spoj-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Spoj here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/topcoder_logo.png" class="card-img-top images" alt="topcoder-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of TopCoder here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/google_logo.png" class="card-img-top images" alt="google-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Google here.</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/facebook_logo.png" class="card-img-top images" alt="facebook-img">
          <div class="card-body">
            <h5 class="card-title">Check out all the contests of Facebook here.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Us section -->
  <section id="contact-us">
    <div>

    </div>
  </section>
</body>

</html>
