<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> CompCode </title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- Navigation Bar -->
  <div>
  <nav class="navbar navbar-custom box">
    <a class="navbar-brand title-name" href="#">CompCode</a>
   <form action="/team" method="POST">
    <button class="team-btn btn btn-outline-dark" type="submit" name="button">About</button>

   </form>
   <a class="contact-btn btn btn-outline-dark" href="#contact-us">Contact us</a>
  </nav>

  <!-- Title screen -->
  <section id="title">
    <div class="row">
      <div class="col">
        <h1 class="title-text">For all the contest timings, we got you covered.</h1>
        <a class="contest-btn btn btn-outline-light" href="#cards-section">Contests</a>
      </div>
      <div class="col">
        <img class="title-image" src="images/main.png"  width="800px" alt="title-image">
        <!-- Ye line ko kahi pe set krna pdega ... liscenced image hai
        <a href="https://www.vecteezy.com/free-vector/female">Female Vectors by Vecteezy</a> -->
      </div>
    </div>
  </div>
  </section>

  <!-- Carousel section -->

  <section id="carousel">
    <div>

    </div>
  </section>

  <!-- Cards section -->
  <section id="cards-section">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card home-card">
          <img src="images/codeforces_logo.png" class="card-img-top images" alt="codeforces-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/codeforces">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/codechef_logo.svg.png" class="card-img-top images" alt="codechef-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/codechef">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/he_logo.png" class="card-img-top images" alt="hackerearth-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/hackerearth">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/hr_logo.png" class="card-img-top images" alt="hackerrank-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/hackerrank">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/leetcode_logo.png" class="card-img-top images" alt="leetcode-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/leetcode">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/atcoder_logo.png" class="card-img-top images" alt="atcoder-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/atcoder">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/spoj_logo.png" class="card-img-top images" alt="spoj-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/spoj">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/topcoder_logo.png" class="card-img-top images" alt="topcoder-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/topcoder">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/google_logo.png" class="card-img-top images" alt="google-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/google">Contest</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card home-card">
          <img src="images/facebook_logo.png" class="card-img-top images" alt="facebook-img">
          <div class="card-body">
            <a class="btn btn-sm btn-light" href="/facebook">Contest</a>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Us section -->
  <section id="contact-us">
    <div>
     <h1 class="contact-heading" style="font-size:100px;">Get in touch</h1>
     <h2 class="contact-heading">Want to get in touch? We'd love to hear from you.</h2>

      <form action="mailto:iec2019029@iiita.ac.in,iib2019019@iiita.ac.in,iib2019029@iiita.ac.in" method="post" enctype="text/plain" class="mail">
        <label class="label-text">Your Name:</label>
        <input type="text" name="Your Name" class="input-text"><br><br>
        <label class="label-text">Your Email:</label>
        <input type="email" name="Your Email" class="input-text"><br><br>
        <label class="label-text">Your Message:</label><br>
        <textarea name="Your Message" class="input-text" cols="36" rows="10"></textarea><br><br>
        <input type="submit" class="btn btn-lg btn-outline-light">
        </form>


    </div>
  </section>
</body>

<footer id="footer">

</footer>

</html>

