<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> CC Monitor </title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/a16b9739a3.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #12232e;">
  <!-- Navigation Bar -->
  <section>
    <nav class="navbar navbar-custom nav-class">
      <a class="navbar-brand title-name-contest" href="#">CC Monitor</a>
      <form action="/team" method="POST">
        <a class="home-btn btn btn-outline-dark" href="/">Home</a>
        <button class="team-btn btn btn-dark" type="submit" name="button">About</button>
      
      </form>
      
    </nav>
  </section>

  <section id="about">
    <h2 class="about-title">About Us</h2>
    <p class="about-text">
      CC Monitor is an user friendly utility website which provides users with contest timings from different platforms out there! Thus, it sort of works as an aggregator of contest timings and links , which helps the users to save their time and efforts browsing through each website individually. The super simple design lets the user easily use the website by his/her preference while providing the details from all the major coding platforms such as Codeforces, Codechef etc. The website has been created keeping in mind the needs while delivering the content synchronously. If you’re a web nerd like us ... you can find the source code here ;)
      Happy coding!!!!
      <br>
      <!-- make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum. -->
    </p>
  </section>

  <section id="developers">
    <div>
      <h1 class="dev-heading">Our Team</h1>
      <div class="card-group">
        <div class="card text-dark text-center team-card">

          <img src="images/kalpana.png" class="my-img" alt="kalpana-img">
          <div class="middle">
            <div class="text">
              <a href="https://www.facebook.com/chinu.khutela.9" target="_blank"><i
                  class="fab fa-facebook-f my-icon"></i></a>
              <a href="https://www.instagram.com/chi_nu2000/" target="_blank"> <i
                  class="fab fa-instagram my-icon"></i></a>
              <a href="mailto:chinukhutela2000@gmail.com" target="_blank"> <i class="fas fa-envelope my-icon"></i> </a>

            </div>         
          </div>
          <div class="card-body">
            <h5 class="card-title my-name">Kalpana</h5>
            <a href="https://github.com/Kalpana200" class="btn btn-outline-light">Github</a>
            <a href="https://www.linkedin.com/in/kalpana-khutela-a117861a4/" class="btn btn-light">LinkedIn</a>
          </div>
        </div>
        <div class="card text-dark text-center team-card">

          <img src="images/vaishnavi.png" class="my-img" alt="vaishnavi-img">
          <div class="middle">
            <div class="text">
              <a href="https://www.facebook.com/vaishnavijain1234" target="_blank"><i
                  class="fab fa-facebook-f my-icon"></i></a>
              <a href="https://www.instagram.com/_vaishnavi9/" target="_blank"> <i
                  class="fab fa-instagram my-icon"></i></a>
              <a href="mailto:vaishnavijain999@gmail.com" target="_blank"> <i class="fas fa-envelope my-icon"></i> </a>

            </div>   
          </div>
          <div class="card-body">
            <h5 class="card-title my-name">Vaishnavi</h5>
            <a href="https://github.com/vaishnavi1909" class="btn btn-outline-light">Github</a>
            <a href="https://www.linkedin.com/in/vaishnavi-jain-2767891a4/" class="btn btn-light">LinkedIn</a>
          </div>
        </div>
        <div class="card text-dark text-center team-card">
          <img src="images/milap.png" class="my-img" alt="milap-img">
          <div class="middle">
            <div class="text">
              <a href="https://www.facebook.com/milap.anwani.5" target="_blank"><i
                  class="fab fa-facebook-f my-icon"></i></a>
              <a href="https://www.instagram.com/anwanified/" target="_blank"> <i
                  class="fab fa-instagram my-icon"></i></a>
              <a href="mailto:milapanwani@gmail.com" target="_blank"> <i class="fas fa-envelope my-icon"></i> </a>

            </div>   
          </div>

          <div class="card-body">
            <h5 class="card-title my-name">Milap</h5>

            <a href="https://github.com/greenblade29" class="btn btn-outline-light">Github</a>
            <a href="https://www.linkedin.com/in/milap-anwani-2b732b1aa/" class="btn btn-light">LinkedIn</a>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<%- include("footer"); -%>

</html>
