<%- include("header"); -%>
  <section id="developers">
    <div>
      <h1 class="dev-heading">Developers behind CompCode : </h1>
      <div class="card-group">
        <div class="card text-dark bg-light text-center">
          <img src="images/milap.jpg" class="card-img-top" alt="milap-img">
          <div class="card-body">
            <h5 class="card-title">Milap</h5>
            <a href="https://github.com/greenblade29" class="btn btn-outline-secondary">Github</a>
            <a href="https://www.linkedin.com/in/milap-anwani-2b732b1aa/" class="btn btn-outline-primary">LinkedIn</a>
          </div>
        </div>
        <div class="card text-dark bg-light text-center">
          <img src="..." class="card-img-top" alt="kalpana-img">
          <div class="card-body">
            <h5 class="card-title">Kalpana</h5>
            <a href="https://github.com/Kalpana200" class="btn btn-outline-secondary">Github</a>
            <a href="https://www.linkedin.com/in/kalpana-khutela-a117861a4/" class="btn btn-outline-primary">LinkedIn</a>
          </div>
        </div>
        <div class="card text-dark bg-light text-center">
          <img src="..." class="card-img-top" alt="vaishnavi-img">
          <div class="card-body">
            <h5 class="card-title">Vaishnavi</h5>
            <a href="https://github.com/vaishnavi1909" class="btn btn-outline-secondary">Github</a>
            <a href="https://www.linkedin.com/in/vaishnavi-jain-2767891a4/" class="btn btn-outline-primary">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
