body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  width:100%;
  background-color: black;
}

/* Navigation styles */
.navbar-brand {
  font-size: 3rem;
  font-weight: bolder;
  color: #e4f9f5;
  padding-top: 0;
  padding-bottom: 0;
}

.title-name:hover {
  color: #e4f9f5;
}

.navbar-custom {
  padding: 0;
}

.team-btn {
  margin-right : 20px;
 
  font-size: 1.5rem;
  color:#e4f9f5;
  text-decoration:none;
}

.contact-btn{
  font-size: 1.5rem;
  color : black;
  text-decoration:none;
  margin-left: 600px;
  size: 200px;
}
.contest-btn{
  font-size: 1.5rem;
  color : #e4f9f5;
  text-decoration:none;
  margin-left:130px;
  margin-top:20px;
}

.home-btn{
  font-size: 1.5rem;
  color : black;
  text-decoration:none;
  margin-right : 30px;
  size: 200px;
}

#title{
  background: linear-gradient(110deg,  #12232e 60%, #e4f9f5 60%);
} 
/* 
.title-dark{
 
  background: linear-gradient(110deg,  #97AABB 60%, #fff 60%);
} */

.title-text {
  color: #e4f9f5;
  padding-left: 8rem;
  padding-top: 8.5rem;
  font-size: 3.5rem;
}

.title-image {
  height: 32rem;
  margin-top: 40px;
  
}

.title-name{
  text-align: left;
  margin-left: 130px;
}

/* Carousel styles */
#carousel {
  background: #12232e;
  height: 32rem;
  padding:20px;
}

.carousel-card{
  background-color: #EEFBFB;
  margin-right:20px;
  padding: 20px;
 margin-left:20px;
}

.carousel-inner{
 padding:110px;
}

.card-text{
  font-size:25px;
}

/* Cards styles */
#cards-section {
  background-color: #EEFBFB;
}

.home-card {
  margin: 2rem;
  background-color:#EEFBFB;
  color: #e4f9f5;
  border:none;
}

.images {
  width:50%;
  background-color: white;
  border-radius: 50%;
  border: 6px solid #12232e ;
  margin : auto;

}

.images:hover{
  border: none;
}

.third-title{
  text-align:center;
  color:#12232e;
  padding-top:20px;
  padding-bottom:30px;
  font-size:70px;
}

.card-btn{
  text-align:center;
}

/* Contact Us styles */
#contact-us {
  background-color: #12232e;

}

.contact-heading{

  margin-bottom: 2rem;
  text-align:center;
  color:white;
  padding-top:30px;
}

.label-text{
  color:white;
}

.input-text{
  border-radius:5%;
}

.mail{
text-align:center;
}

.mailing{
  text-decoration: none;
  color: #e4f9f5;
  font-size: 2rem;
}

.mailing:hover{
  color: Bisque;
}

.submit-btn{
  margin-bottom:20px;
}


/* Contest page */



.nav-class{
  background-color: #e4f9f5;
}

.title-name-contest{
  color: #12232e;
  text-align: left;
  margin-left: 130px;
}

.title-name-contest:hover{
   color:#12232e;
}

#contest-page{
  background-color: #12232e;
}

.contest-card{
  
  background-color: #e4f9f5;
  
  width:60%;
  margin:auto;
  margin-top:50px;
}

.card-title{
  text-align : center;
}

.card-text{
  font-size:20px;
  color: #12232e;
}

.time-buttons{
  text-align:center;
}



/* footer */

#footer{
  background-color: #12232e;
  text-align:center;
  /* padding:40px; */
  color: #e4f9f5;
  padding-top:50px;
  padding-bottom:10px;
}

/* About Page */
 .about-text{
   color:#e4f9f5;
   text-align: justify;
   line-height:30px;
   padding:120px;
   padding-top:30px;
   padding-bottom:40px;
 }

 .about-title{
   text-align: center;
   color:#e4f9f5;
   margin-top:50px;
   font-size:50px;
 }

 .dev-heading{
   color:#e4f9f5;
   text-align: center;
   font-size:50px;
   margin-bottom:30px;
 }

 .team-card{
   margin:20px;
   background-color: #12232e;
   border:none;
 }

 .my-img{
   width:300px;
   margin:auto;
   transition: .5s ease;
   backface-visibility: hidden;
   opacity: 1;
 }

 .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.team-card:hover .my-img {
  opacity: 0.3;
 
}

.team-card:hover .middle {
  opacity: 1;
}

 #developers{
   margin-bottom:20px;
 }

 .my-name{
   color:#e4f9f5;
   font-size:30px;
   margin-bottom:20px;
   margin-top:20px;
 }


 .my-icon{
   margin:12px;
   color:white;
   font-size:30px;
 }


 /* RESPONSIVENESS */

 @media (min-width: 1800px){
   .title-image{
     width:100%;
   }
 }

 @media (min-width: 1139px) and (max-width: 1252px){
   .contact-btn{
     margin-left:300px;
   }
 }

 @media (min-width: 1075px) and (max-width: 1138px){
  .contact-btn{
    margin-left:300px;
  }
  .title-image{
    width:100%;
  }

.title-text{
  font-size: 3.2rem;
}
 }

@media (max-width:1074px){

  #title{
    background: linear-gradient(100deg,  #12232e 60%, #EEFBFB 60%);
   
  } 

  .contact-btn{
    margin-left:300px;
  }

  .title-text{
    font-size:2.4rem;
  }

  .title-image{
    width:100%;
    height:93%;
   
  }
}


/* TOGGLE BUTTON */

.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
  margin-left:1182px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#loader{
  width:100%;
  height: 100%;
  background : #12232e url('preloader.gif') no-repeat center;
  position:fixed;
  z-index:99999;
}










