body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/* Navigation styles */
.navbar-brand {
  font-size: 3rem;
  font-weight: bolder;
  color: #e4f9f5;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand:hover {
  color: #e4f9f5;
}

.navbar-custom {
  background-color: #12232e;
  padding: 0;
}

.team-btn {
  margin-left: 700px;
  font-size: 1.5rem;
  color : black;
  text-decoration:none;
}

.contact-btn{
  font-size: 1.5rem;
  color : black;
  text-decoration:none;
  margin-right : 50px;
  size: 200px;
}
.contest-btn{
  font-size: 1.5rem;
  color : #e4f9f5;
  text-decoration:none;
  margin-left:130px;
}

.box{
  background: linear-gradient(110deg,  #12232e 68.32%, #EEFBFB 60%);
}

/* Title styles */
#title {
  background: linear-gradient(110deg,  #12232e 60%, #EEFBFB 60%);
  height: 32rem;
}

.title-text {
  color: #e4f9f5;
  padding-left: 8rem;
  padding-top: 10rem;
  font-size: 3.5rem;
}

.title-image {
  height: 30rem;
  margin-top: 4rem;
}

.title-name{
  text-align: left;
  margin-left: 130px;
}

/* Carousel styles */
#carousel {
  background: #203647;
  height: 32rem;

}

/* Cards styles */
#cards-section {
  background-color: #EEFBFB;
  height: 87rem;
}

.card {
  margin: 2rem;
  background-color: #40514e;
  color: #e4f9f5;
}

.images {
  height: 7.5rem;
  background-color: white;
}

/* Contact Us styles */
#contact-us {
  background-color: #12232e;

}

.contact-heading{

  margin-bottom: 2rem;
  text-align:center;
  color:white;
}

.label-text{
  color:white;
}

.input-text{
  border-radius:5%;
}

.mail{
text-align:center;
}

.mailing{
  text-decoration: none;
  color: #e4f9f5;
  font-size: 2rem;
}

.mailing:hover{
  color: Bisque;
}


/* Contest page */

.contest-card{
  margin-left: 300px;
}

.card-title{
  text-align : center;
}

/* footer */

#footer{
  background-color: #e4f9f5;
  height:320px;
}

